<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c8c7dda4-652c-4a1b-a145-d7b3e417b096/resourcegroups/EventManagement/providers/Microsoft.Web/sites/EventMangementSystem20240523060732</ResourceId>
    <ResourceGroup>EventManagement</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eventmangementsystem20240523060732.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>eventmangementsystem20240523060732.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EventMangementSystem20240523060732</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$EventMangementSystem20240523060732</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:eventmangementsystemdbserver.database.windows.net,1433;Initial Catalog=EventMangementSystem_db;User ID=brazow@eventmangementsystemdbserver;Password=Sbonga@01" Name="Data Source=tcp:eventmangementsystemdbserver.database.windows.net,1433;Initial Catalog=EventMangementSystem_db;User Id=brazow@eventmangementsystemdbserver;Password=Sbonga@01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EventMangementSystem.Models.ApplicationDbContext, EventMangementSystem" MigrationConfiguration="EventMangementSystem.Migrations.Configuration, EventMangementSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eventmangementsystemdbserver.database.windows.net,1433;Initial Catalog=EventMangementSystem_db;User Id=brazow@eventmangementsystemdbserver;Password=Sbonga@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>